.sidebar{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 2em;
    align-items: center;
    max-width: fit-content;
    padding-left: 1em;
}

ul{
    margin: 0;
}

ul li{
    list-style-type: none;
}